# Day 1: Calculate a circle area

In [1]:
import math

pi = math.pi
radius = 4

area = pi*radius**2
area

50.26548245743669

# Day2: Read a csv file

In [3]:
import pandas as pd

df = pd.read_csv('test.csv')
df

           name  age               hobby
0    tony stark   36     building robots
1  thor odinson  420    swing the hammer
2  peter parker   19   swing in new york