# Day 1: Calculate a circle area

In [1]:
import math

pi = math.pi
radius = 4

area = pi*radius**2
area

50.26548245743669

# Day2: Read a csv file

In [2]:
import pandas as pd

df = pd.read_csv('test.csv')
df

           name  age               hobby
0    tony stark   36     building robots
1  thor odinson  420    swing the hammer
2  peter parker   19   swing in new york

# Day3: How to create a function

In [4]:
def add(a,b):
    c= a+b
    return c

In [6]:
add(10,2)

12

# Day 4: what is a list?

In [1]:
var_list = [1.2, 'pustekuchen', 2, 3]
var_list

[1.2, 'pustekuchen', 2, 3]

In [2]:
var_list_range = list(range(1,10))
var_list_range

[1, 2, 3, 4, 5, 6, 7, 8, 9]